<header>
  <nav>
    <a href="http://localhost:8080/home/">
    <img src="https://cdn3.iconfinder.com/data/icons/object-emoji/50/Record-512.png" alt="logo" width="50" height="50">
    </a>
    <form action="/api/records/search" method="get">

      <label for="title">Title</label>
      <input type="text" id="title" name="title"><br>

      <input type="submit" value="Submit">
    </form>
    <a href="/mycollection">My Collection</a>
    <a href="/advanced_search">Advanced Search</a>
    <a href="/sell">Sell-A-Record</a>
<<<<<<< HEAD

    <form action="/api/records/set_cookie" method="get">
      <input type="submit" value="Login">
    </form>

=======
>>>>>>> 180da09427b32859c179321d59722c5ac17fcd2c

  </nav>
</header>
