<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Collection</title>
  </head>
  <body>
    <h1>My Collection</h1>
    <section class="favourties">
      <h2>Favourites (18)</h2>
      <div class="tile">
        <img />
        <h3>Record title</h3>
        <p>Artist</p>
        <p>Price</p>
        <p>Views 100</p>
        <button>Sold</button>
        <button>*</button>
      </div>
    </section>
    <section class="myListings">
      <h2>My Listings (73)</h2>
      <div class="tile">
        <img />
        <h3>Record title</h3>
        <p>Artist</p>
        <p>Price</p>
        <p>Views 100</p>
        <button>Available</button>
        <button>Delete</button>
        <button>Sold</button>
      </div>
    </section>
    <footer>
      <a href="#">Contact Us</a>
      <a href="#">Terms Of Use</a>
    </footer>
  </body>
</html>
