<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Collection</title>
  </head>
  <body>
    <section class="record">
      <h1>Record Title</h1>
      <button>Available</button>
      <h2>Artist Name</h2>
      <button>*</button>
      <h3>Price</h3>
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, natus.
        Corporis, eos! Accusamus molestiae, consequuntur veritatis illum nostrum
        quos maxime aspernatur error nulla inventore accusantium, porro nesciunt
        impedit rerum ipsum!
      </p>
      <p>Views 100</p>
    </section>
    <section class="comments">
      <h2>Comments (3)</h2>
      <label for="newComment">New Comment</label>
      <form action="input"></form>
      <button>Post</button>
      <div class="userComment">
        <img src="" alt="" />
        <h3>Username</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </section>
    <footer>
      <a href="#">Contact Us</a>
      <a href="#">Terms Of Use</a>
    </footer>
  </body>
</html>
