header {
  margin: 50px;
    display: flex;
}

.page {
  background-color: lightgrey;
}

.body-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: lightgrey;
  padding-left: 200px;
  align-items: flex-start;
}

div.favourites {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: lightgrey;
  padding-left: 200px;
}

div.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.record-home {
  display: flex;
  flex-direction: column;
}

img.record_main {
  display: flex;
  border-radius: 0.25rem !important;
  float: left;
  width: 350px;
  height: 350px;
  padding-left: 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-bottom: black;
}

.favourite_img{
  border-radius: 0.25rem !important;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.record-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.record-dis {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 50px;
  /* padding-right: 50px; */
  align-items: flex-start;
}

.record-listing {
  display: flex;
  align-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 10px;
  border-bottom: black;
}

.record-day {
  display:flex;
  flex-direction: column;
}

.fav-name {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 50px;
  padding-top: 25px;
  font-weight: bold;
}

.artist {
  padding-left: 25px;
}

.price-record_day {
  padding-left: 25px;
}

.title-record_day {
  padding-left: 15px;
}

.desc-text {
  width: 500px;
  height: auto;
}

.all-but-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

footer {
  padding: 50px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
}

