body {
  background-color: lightgray;
}

main {
  display: flex;
  justify-content: space-around;
  border-bottom: 5px dashed maroon;
}

#myCollection {
  margin: 1.1em;
  font-family: "Josefin Sans", sans-serif;
  background: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 1rem;
  border: 2px solid black;
}

.favs {
  font-family: "Josefin Sans", sans-serif;
}

.favourites,
.myListings {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
  padding: 3em;
}

.Favouritestile,
.Listingtile {
  display: flex;
  border: 2px solid black;
  margin-bottom: 2em;
  flex-direction: row;
  align-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.list {
  font-family: "Josefin Sans", sans-serif;
}

.recordInfo {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  width: 100%;
}

.recordInfo p {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.record-img {
  width: 100px;
  height: 100px;
  padding-left: 1em;
}

button {
  cursor: pointer;
  transition: all 0.25s ease;
  color: black;
  border: 1px solid darkgray;
  text-align: center;
  background-color: transparent;
  outline: none;
  border-radius: 4px;
}

button:hover {
  color: white;
  background-color: maroon;
}

.tile {
  display: flex;
  flex-direction: column;
}

.sold {
  background-color: #fb5607;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
