body {
  background-color: lightgray;
}

main {
  display: flex;
  flex-direction: column;
  border-bottom: 5px dashed maroon;
}

.record {
  padding-bottom: 2em;
  padding-left: 2em;
  border-bottom: 2px solid darkgray;
}

.recordTitle {
  display: flex;
}

.recordTitle div {
  display: flex;
  margin-left: 1em;
  align-items: center;
}

.recordArtist {
  display: flex;
}

.favourite {
  display: flex;
  margin-left: 1em;
  margin-top: 19.92px;
  width: 25px;
  height: 25px;
  align-items: center;
}

.recordInfo {
  display: flex;
}

.recordInfo p {
  padding-left: 3em;
  padding-bottom: 1em;
}

.comments {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.userComment {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid black;
  margin-bottom: 3em;
  background-color: white;
  width: 100vh;
}

.userComment p {
  margin-top: 0;
}

.comments form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-top: 1em;
}

.comments input {
  width: 25%;
}

.comments button {
  width: 3em;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

img {
  width: 350px;
  height: 350px;
}
