body {
  background-color: lightgray;
}

main {
  display: flex;
  flex-direction: column;
  border-bottom: 5px dashed maroon;
}

.record {
  padding-bottom: 2em;
  padding-left: 2em;
  border-bottom: 2px solid darkgray;
}

.recordTitle {
  display: flex;
}

.recordTitle div {
  display: flex;
  margin-left: 1em;
  align-items: center;
}

.recordArtist {
  display: flex;
}

.favouriteButton {
  display: flex;
  margin-left: 1em;
  width: 25px;
  height: 25px;
}

.recordInfo {
  display: flex;
  margin-top: 2em;
}

.recordInfo p {
  padding-left: 3em;
  padding-bottom: 1em;
}

.recordInfo img {
  transition: all 0.2s ease-in-out;
}

.recordInfo img:hover {
  transform: scale(1.1);
}

.comments {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.userComment {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid black;
  margin-bottom: 3em;
  background-color: white;
  width: 100vh;
}

.userComment p {
  margin-top: 0;
}

.comments form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-top: 1em;
}

.commentBox input {
  border-radius: 4px;
  width: 5%;
}

.comments input {
  width: 25%;
}

.comments button {
  cursor: pointer;
  transition: all 0.25s ease;
  color: black;
  border: 1px solid darkgray;
  text-align: center;
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  width: 5%;
}

.comments button:hover {
  color: white;
  background-color: maroon;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

img {
  width: 350px;
  height: 350px;
}
