nav {
  display: flex;
  background-color: maroon;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em;
  height: 64px;
}

.header-img {
  height: 50px;
  width: 50px;
}

.app-name {
  font-family: "Koulen", cursive;
  color: white;
  margin-right: 1em;
  display: flex;
  align-items: center;
  padding-right: 20px;
  font-size: x-large;
}

.search-bar {
  display: flex;
}

#title {
  margin-right: 1em;
  height: 36px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: lightgray;
}

.button {
  cursor: pointer;
  transition: all 0.25s ease;
  color: white;
  border: 1px solid lightgray;
  text-align: center;
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  height: 36px;
}

.button:hover {
  color: maroon;
  background-color: white;
}

a {
  font-family: "Josefin Sans", sans-serif;
}
